<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.PaperColdMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.PaperCold">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="volume" column="volume" jdbcType="VARCHAR"/>
            <result property="coverDateText" column="cover_date_text" jdbcType="VARCHAR"/>
            <result property="availableOnline" column="available_online" jdbcType="VARCHAR"/>
            <result property="received" column="received" jdbcType="VARCHAR"/>
            <result property="revised" column="revised" jdbcType="VARCHAR"/>
            <result property="accepted" column="accepted" jdbcType="VARCHAR"/>
            <result property="publicationDate" column="publication_date" jdbcType="VARCHAR"/>
            <result property="versionOfRecord" column="version_of_record" jdbcType="VARCHAR"/>
            <result property="detailTimestamp" column="detail_timestamp" jdbcType="VARCHAR"/>
            <result property="copyrightLine" column="copyright_line" jdbcType="VARCHAR"/>
            <result property="cid" column="cid" jdbcType="VARCHAR"/>
            <result property="eid" column="eid" jdbcType="VARCHAR"/>
            <result property="hubEid" column="hub_eid" jdbcType="VARCHAR"/>
            <result property="issuePii" column="issue_pii" jdbcType="VARCHAR"/>
            <result property="pii" column="pii" jdbcType="VARCHAR"/>
            <result property="firstPage" column="first_page" jdbcType="VARCHAR"/>
            <result property="lastPage" column="last_page" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paper_id,volume,
        cover_date_text,available_online,received,
        revised,accepted,publication_date,
        version_of_record,detail_timestamp,copyright_line,
        cid,eid,hub_eid,
        issue_pii,pii,first_page,
        last_page,status,created_time,
        updated_time
    </sql>
</mapper>
