<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserMajorJurisprudenceMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserMajorJurisprudence">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tn0301mu" column="TN0301MU" jdbcType="BIGINT"/>
            <result property="nn0301mut" column="NN0301MUT" jdbcType="BIGINT"/>
            <result property="tn0302mu" column="TN0302MU" jdbcType="BIGINT"/>
            <result property="nn0302mut" column="NN0302MUT" jdbcType="BIGINT"/>
            <result property="tn0303mu" column="TN0303MU" jdbcType="BIGINT"/>
            <result property="nn0303mut" column="NN0303MUT" jdbcType="BIGINT"/>
            <result property="tn0304mu" column="TN0304MU" jdbcType="BIGINT"/>
            <result property="nn0304mut" column="NN0304MUT" jdbcType="BIGINT"/>
            <result property="tn0305mu" column="TN0305MU" jdbcType="BIGINT"/>
            <result property="nn0305mut" column="NN0305MUT" jdbcType="BIGINT"/>
            <result property="tn0306mu" column="TN0306MU" jdbcType="BIGINT"/>
            <result property="nn0306mut" column="NN0306MUT" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,TN0301MU,NN0301MUT,
        TN0302MU,NN0302MUT,TN0303MU,
        NN0303MUT,TN0304MU,NN0304MUT,
        TN0305MU,NN0305MUT,TN0306MU,
        NN0306MUT,date_time,status,
        created_time,updated_time
    </sql>
</mapper>
