<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="undergraduates" column="undergraduates" jdbcType="BIGINT"/>
            <result property="masters" column="masters" jdbcType="BIGINT"/>
            <result property="doctors" column="doctors" jdbcType="BIGINT"/>
            <result property="teachers" column="teachers" jdbcType="BIGINT"/>
            <result property="universityC9" column="university_c9" jdbcType="BIGINT"/>
            <result property="university985" column="university_985" jdbcType="BIGINT"/>
            <result property="university211" column="university_211" jdbcType="BIGINT"/>
            <result property="universityOther" column="university_other" jdbcType="BIGINT"/>
            <result property="discipline" column="discipline" jdbcType="BIGINT"/>
            <result property="major" column="major" jdbcType="BIGINT"/>
            <result property="addNumber" column="add_number" jdbcType="BIGINT"/>
            <result property="totalNumber" column="total_number" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,undergraduates,masters,
        doctors,teachers,university_c9,
        university_985,university_211,university_other,
        discipline,major,add_number,
        total_number,date_time,status,
        created_time,updated_time
    </sql>
</mapper>
