<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserMajorMedicineMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserMajorMedicine">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tn1001mu" column="TN1001MU" jdbcType="BIGINT"/>
            <result property="nn1001mut" column="NN1001MUT" jdbcType="BIGINT"/>
            <result property="tn1002mu" column="TN1002MU" jdbcType="BIGINT"/>
            <result property="nn1002mut" column="NN1002MUT" jdbcType="BIGINT"/>
            <result property="tn1003mu" column="TN1003MU" jdbcType="BIGINT"/>
            <result property="nn1003mut" column="NN1003MUT" jdbcType="BIGINT"/>
            <result property="tn1004mu" column="TN1004MU" jdbcType="BIGINT"/>
            <result property="nn1004mut" column="NN1004MUT" jdbcType="BIGINT"/>
            <result property="tn1005mu" column="TN1005MU" jdbcType="BIGINT"/>
            <result property="nn1005mut" column="NN1005MUT" jdbcType="BIGINT"/>
            <result property="tn1006mu" column="TN1006MU" jdbcType="BIGINT"/>
            <result property="nn1006mut" column="NN1006MUT" jdbcType="BIGINT"/>
            <result property="tn1007mu" column="TN1007MU" jdbcType="BIGINT"/>
            <result property="nn1007mut" column="NN1007MUT" jdbcType="BIGINT"/>
            <result property="tn1008mu" column="TN1008MU" jdbcType="BIGINT"/>
            <result property="nn1008mut" column="NN1008MUT" jdbcType="BIGINT"/>
            <result property="tn1009mu" column="TN1009MU" jdbcType="BIGINT"/>
            <result property="nn1009mut" column="NN1009MUT" jdbcType="BIGINT"/>
            <result property="tn1010mu" column="TN1010MU" jdbcType="BIGINT"/>
            <result property="nn1010mut" column="NN1010MUT" jdbcType="BIGINT"/>
            <result property="tn1011mu" column="TN1011MU" jdbcType="BIGINT"/>
            <result property="nn1011mut" column="NN1011MUT" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,TN1001MU,NN1001MUT,
        TN1002MU,NN1002MUT,TN1003MU,
        NN1003MUT,TN1004MU,NN1004MUT,
        TN1005MU,NN1005MUT,TN1006MU,
        NN1006MUT,TN1007MU,NN1007MUT,
        TN1008MU,NN1008MUT,TN1009MU,
        NN1009MUT,TN1010MU,NN1010MUT,
        TN1011MU,NN1011MUT,date_time,
        status,created_time,updated_time
    </sql>
</mapper>
