<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserMajorEngineeringMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserMajorEngineering">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tn0801mu" column="TN0801MU" jdbcType="BIGINT"/>
            <result property="nn0801mut" column="NN0801MUT" jdbcType="BIGINT"/>
            <result property="tn0802mu" column="TN0802MU" jdbcType="BIGINT"/>
            <result property="nn0802mut" column="NN0802MUT" jdbcType="BIGINT"/>
            <result property="tn0803mu" column="TN0803MU" jdbcType="BIGINT"/>
            <result property="nn0803mut" column="NN0803MUT" jdbcType="BIGINT"/>
            <result property="tn0804mu" column="TN0804MU" jdbcType="BIGINT"/>
            <result property="nn0804mut" column="NN0804MUT" jdbcType="BIGINT"/>
            <result property="tn0805mu" column="TN0805MU" jdbcType="BIGINT"/>
            <result property="nn0805mut" column="NN0805MUT" jdbcType="BIGINT"/>
            <result property="tn0806mu" column="TN0806MU" jdbcType="BIGINT"/>
            <result property="nn0806mut" column="NN0806MUT" jdbcType="BIGINT"/>
            <result property="tn0807mu" column="TN0807MU" jdbcType="BIGINT"/>
            <result property="nn0807mut" column="NN0807MUT" jdbcType="BIGINT"/>
            <result property="tn0808mu" column="TN0808MU" jdbcType="BIGINT"/>
            <result property="nn0808mut" column="NN0808MUT" jdbcType="BIGINT"/>
            <result property="tn0809mu" column="TN0809MU" jdbcType="BIGINT"/>
            <result property="nn0809mut" column="NN0809MUT" jdbcType="BIGINT"/>
            <result property="tn0810mu" column="TN0810MU" jdbcType="BIGINT"/>
            <result property="nn0810mut" column="NN0810MUT" jdbcType="BIGINT"/>
            <result property="tn0811mu" column="TN0811MU" jdbcType="BIGINT"/>
            <result property="nn0811mut" column="NN0811MUT" jdbcType="BIGINT"/>
            <result property="tn0812mu" column="TN0812MU" jdbcType="BIGINT"/>
            <result property="nn0812mut" column="NN0812MUT" jdbcType="BIGINT"/>
            <result property="tn0813mu" column="TN0813MU" jdbcType="BIGINT"/>
            <result property="nn0813mut" column="NN0813MUT" jdbcType="BIGINT"/>
            <result property="tn0814mu" column="TN0814MU" jdbcType="BIGINT"/>
            <result property="nn0814mut" column="NN0814MUT" jdbcType="BIGINT"/>
            <result property="tn0815mu" column="TN0815MU" jdbcType="BIGINT"/>
            <result property="nn0815mut" column="NN0815MUT" jdbcType="BIGINT"/>
            <result property="tn0816mu" column="TN0816MU" jdbcType="BIGINT"/>
            <result property="nn0816mut" column="NN0816MUT" jdbcType="BIGINT"/>
            <result property="tn0817mu" column="TN0817MU" jdbcType="BIGINT"/>
            <result property="nn0817mut" column="NN0817MUT" jdbcType="BIGINT"/>
            <result property="tn0818mu" column="TN0818MU" jdbcType="BIGINT"/>
            <result property="nn0818mut" column="NN0818MUT" jdbcType="BIGINT"/>
            <result property="tn0819mu" column="TN0819MU" jdbcType="BIGINT"/>
            <result property="nn0819mut" column="NN0819MUT" jdbcType="BIGINT"/>
            <result property="tn0820mu" column="TN0820MU" jdbcType="BIGINT"/>
            <result property="nn0820mut" column="NN0820MUT" jdbcType="BIGINT"/>
            <result property="tn0821mu" column="TN0821MU" jdbcType="BIGINT"/>
            <result property="nn0821mut" column="NN0821MUT" jdbcType="BIGINT"/>
            <result property="tn0822mu" column="TN0822MU" jdbcType="BIGINT"/>
            <result property="nn0822mut" column="NN0822MUT" jdbcType="BIGINT"/>
            <result property="tn0823mu" column="TN0823MU" jdbcType="BIGINT"/>
            <result property="nn0823mut" column="NN0823MUT" jdbcType="BIGINT"/>
            <result property="tn0824mu" column="TN0824MU" jdbcType="BIGINT"/>
            <result property="nn0824mut" column="NN0824MUT" jdbcType="BIGINT"/>
            <result property="tn0825mu" column="TN0825MU" jdbcType="BIGINT"/>
            <result property="nn0825mut" column="NN0825MUT" jdbcType="BIGINT"/>
            <result property="tn0826mu" column="TN0826MU" jdbcType="BIGINT"/>
            <result property="nn0826mut" column="NN0826MUT" jdbcType="BIGINT"/>
            <result property="tn0827mu" column="TN0827MU" jdbcType="BIGINT"/>
            <result property="nn0827mut" column="NN0827MUT" jdbcType="BIGINT"/>
            <result property="tn0828mu" column="TN0828MU" jdbcType="BIGINT"/>
            <result property="nn0828mut" column="NN0828MUT" jdbcType="BIGINT"/>
            <result property="tn0829mu" column="TN0829MU" jdbcType="BIGINT"/>
            <result property="nn0829mut" column="NN0829MUT" jdbcType="BIGINT"/>
            <result property="tn0830mu" column="TN0830MU" jdbcType="BIGINT"/>
            <result property="nn0830mut" column="NN0830MUT" jdbcType="BIGINT"/>
            <result property="tn0831mu" column="TN0831MU" jdbcType="BIGINT"/>
            <result property="nn0831mut" column="NN0831MUT" jdbcType="BIGINT"/>
            <result property="tn0832mu" column="TN0832MU" jdbcType="BIGINT"/>
            <result property="nn0832mut" column="NN0832MUT" jdbcType="BIGINT"/>
            <result property="tn0833mu" column="TN0833MU" jdbcType="BIGINT"/>
            <result property="nn0833mut" column="NN0833MUT" jdbcType="BIGINT"/>
            <result property="tn0834mu" column="TN0834MU" jdbcType="BIGINT"/>
            <result property="nn0834mut" column="NN0834MUT" jdbcType="BIGINT"/>
            <result property="tn0835mu" column="TN0835MU" jdbcType="BIGINT"/>
            <result property="nn0835mut" column="NN0835MUT" jdbcType="BIGINT"/>
            <result property="tn0836mu" column="TN0836MU" jdbcType="BIGINT"/>
            <result property="nn0836mut" column="NN0836MUT" jdbcType="BIGINT"/>
            <result property="tn0837mu" column="TN0837MU" jdbcType="BIGINT"/>
            <result property="nn0837mut" column="NN0837MUT" jdbcType="BIGINT"/>
            <result property="tn0838mu" column="TN0838MU" jdbcType="BIGINT"/>
            <result property="nn0838mut" column="NN0838MUT" jdbcType="BIGINT"/>
            <result property="tn0839mu" column="TN0839MU" jdbcType="BIGINT"/>
            <result property="nn0839mut" column="NN0839MUT" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,TN0801MU,NN0801MUT,
        TN0802MU,NN0802MUT,TN0803MU,
        NN0803MUT,TN0804MU,NN0804MUT,
        TN0805MU,NN0805MUT,TN0806MU,
        NN0806MUT,TN0807MU,NN0807MUT,
        TN0808MU,NN0808MUT,TN0809MU,
        NN0809MUT,TN0810MU,NN0810MUT,
        TN0811MU,NN0811MUT,TN0812MU,
        NN0812MUT,TN0813MU,NN0813MUT,
        TN0814MU,NN0814MUT,TN0815MU,
        NN0815MUT,TN0816MU,NN0816MUT,
        TN0817MU,NN0817MUT,TN0818MU,
        NN0818MUT,TN0819MU,NN0819MUT,
        TN0820MU,NN0820MUT,TN0821MU,
        NN0821MUT,TN0822MU,NN0822MUT,
        TN0823MU,NN0823MUT,TN0824MU,
        NN0824MUT,TN0825MU,NN0825MUT,
        TN0826MU,NN0826MUT,TN0827MU,
        NN0827MUT,TN0828MU,NN0828MUT,
        TN0829MU,NN0829MUT,TN0830MU,
        NN0830MUT,TN0831MU,NN0831MUT,
        TN0832MU,NN0832MUT,TN0833MU,
        NN0833MUT,TN0834MU,NN0834MUT,
        TN0835MU,NN0835MUT,TN0836MU,
        NN0836MUT,TN0837MU,NN0837MUT,
        TN0838MU,NN0838MUT,TN0839MU,
        NN0839MUT,date_time,status,
        created_time,updated_time
    </sql>
</mapper>
