<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserMajorMilitaryMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserMajorMilitary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tn1101mu" column="TN1101MU" jdbcType="BIGINT"/>
            <result property="nn1101mut" column="NN1101MUT" jdbcType="BIGINT"/>
            <result property="tn1102mu" column="TN1102MU" jdbcType="BIGINT"/>
            <result property="nn1102mut" column="NN1102MUT" jdbcType="BIGINT"/>
            <result property="tn1103mu" column="TN1103MU" jdbcType="BIGINT"/>
            <result property="nn1103mut" column="NN1103MUT" jdbcType="BIGINT"/>
            <result property="tn1104mu" column="TN1104MU" jdbcType="BIGINT"/>
            <result property="nn1104mut" column="NN1104MUT" jdbcType="BIGINT"/>
            <result property="tn1105mu" column="TN1105MU" jdbcType="BIGINT"/>
            <result property="nn1105mut" column="NN1105MUT" jdbcType="BIGINT"/>
            <result property="tn1106mu" column="TN1106MU" jdbcType="BIGINT"/>
            <result property="nn1106mut" column="NN1106MUT" jdbcType="BIGINT"/>
            <result property="tn1107mu" column="TN1107MU" jdbcType="BIGINT"/>
            <result property="nn1107mut" column="NN1107MUT" jdbcType="BIGINT"/>
            <result property="tn1108mu" column="TN1108MU" jdbcType="BIGINT"/>
            <result property="nn1108mut" column="NN1108MUT" jdbcType="BIGINT"/>
            <result property="tn1109mu" column="TN1109MU" jdbcType="BIGINT"/>
            <result property="nn1109mut" column="NN1109MUT" jdbcType="BIGINT"/>
            <result property="tn1110mu" column="TN1110MU" jdbcType="BIGINT"/>
            <result property="nn1110mut" column="NN1110MUT" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,TN1101MU,NN1101MUT,
        TN1102MU,NN1102MUT,TN1103MU,
        NN1103MUT,TN1104MU,NN1104MUT,
        TN1105MU,NN1105MUT,TN1106MU,
        NN1106MUT,TN1107MU,NN1107MUT,
        TN1108MU,NN1108MUT,TN1109MU,
        NN1109MUT,TN1110MU,NN1110MUT,
        date_time,status,created_time,
        updated_time
    </sql>
</mapper>
