<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserInfoUniversityMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserInfoUniversity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="university" column="university" jdbcType="VARCHAR"/>
            <result property="addNumber" column="add_number" jdbcType="BIGINT"/>
            <result property="totalNumber" column="total_number" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,university,add_number,
        total_number,date_time,status,
        created_time,updated_time
    </sql>
</mapper>
