<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalystplus.admin.mapper.UserMajorLiteratureMapper">

    <resultMap id="BaseResultMap" type="com.catalystplus.admin.entity.UserMajorLiterature">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tn0501mu" column="TN0501MU" jdbcType="BIGINT"/>
            <result property="nn0501mut" column="NN0501MUT" jdbcType="BIGINT"/>
            <result property="tn0502mu" column="TN0502MU" jdbcType="BIGINT"/>
            <result property="nn0502mut" column="NN0502MUT" jdbcType="BIGINT"/>
            <result property="tn0503mu" column="TN0503MU" jdbcType="BIGINT"/>
            <result property="nn0503mut" column="NN0503MUT" jdbcType="BIGINT"/>
            <result property="dateTime" column="date_time" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,TN0501MU,NN0501MUT,
        TN0502MU,NN0502MUT,TN0503MU,
        NN0503MUT,date_time,status,
        created_time,updated_time
    </sql>
</mapper>
